---
import { siteConfig } from "@/site-config";

const year = new Date().getFullYear();
---

<footer>
	<div>
		&copy; {siteConfig.author}
		{year}.<span>&nbsp;🚀&nbsp;Astro Autoshow</span>
	</div>
</footer>
