---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/chrismwilliams/astro-cactus",
		name: "mdi:github",
	},
];
---

<div>
	<p>Social Links:</p>
	<ul>
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li>
					<a
						href={link}
						rel={`noopener noreferrer me authn"}`}
						target="_blank"
					>
						<Icon aria-hidden="true" focusable="false" name={name} />
						<span>{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
